﻿@model KMART_CRUD_MVC_Examen.Models.Tienda

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar producto</h1>

<h3>Estas seguro que deseas eliminar eñ producto?</h3>
<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
