﻿@model KMART_CRUD_MVC_Examen.Models.Tienda

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Producto</h1>

<h4>Tienda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KId" class="control-label"></label>
                <input asp-for="KId" class="form-control" />
                <span asp-validation-for="KId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KProd" class="control-label"></label>
                <input asp-for="KProd" class="form-control" />
                <span asp-validation-for="KProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KDesc" class="control-label"></label>
                <input asp-for="KDesc" class="form-control" />
                <span asp-validation-for="KDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KStock" class="control-label"></label>
                <input asp-for="KStock" class="form-control" />
                <span asp-validation-for="KStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KPrice" class="control-label"></label>
                <input asp-for="KPrice" class="form-control" />
                <span asp-validation-for="KPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KCode" class="control-label"></label>
                <input asp-for="KCode" class="form-control" />
                <span asp-validation-for="KCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
