﻿@model IEnumerable<KMART_CRUD_MVC_Examen.Models.Tienda>

@{
    ViewData["Title"] = "Index";
}
    
        <h1>Pagina de Inventario</h1>
        

            <p>
                <a asp-action="Create">Agregar Nuevo Producto</a>
            </p>

            <form asp-action="Index" method="get">

                <p>
                    <input type="search" placeholder="Ingresa Nombre o Codigo del producto:" name="prodSearch"
                           value="@ViewData["GetProductDetails"]" style="width = 1500px;" />
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                    <a asp-action="Index">Ver todos los productos</a>
                </p>

            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.KId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KProd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KStock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KCode)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KProd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KCode)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.KId }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Detalles", "Detail", new { id = item.KId }, new { @class = "btn btn-success" }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.KId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
      